/** Layout **/

html, body {

	height: 100%;
}



/** Barra de Navegação **/

.divisor{

	background: #c4a865;
	width: 1px;
	margin: 12px 15px;

}


.troca-cor{

	background: url(../img/imgok.png);
}

nav.nav-transparente{

	padding: 15px 0px;
	background: rgba(0,0,0,0.6);
}



.navbar-light .navbar-nav .nav-link{

	color: #c4a865;
}


.navbar-light .navbar-nav .nav-link:hover{

	color: #DCDCDC;
}

.navbar-light .navbar-toggler{

	color: #c4a865;
	border-color: #c4a865;
}


/** Capa **/


#capa{

	background: url(../img/back.jpg);
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 10px;
}

.solucao{

	margin: 100px 0px;
	color: white;
	text-align: center;
}

.solucao h2{

	color: #c4a865;
	font-weight: bolder;
	text-shadow: 10px 5px 5px black;
}


.btn-cadastro{

	border: 1px solid #c4a865;
	color: #c4a865;
}


.btn-cadastro:hover {

	background-color: #c4a865;
	color: black;
}


.btn-custom{

	color: green;
	width: 195px;
}


.btn-custom:hover{

	color: white;
	background: green;
}




/** Botao Zapp **/

.botao-zapp{

	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 30px;
	right: 40px;
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 1px 1px 2px #888;
	z-index: 1000;
}


.botao-zapp:hover{

	color: white;
}

.fa-whatsapp2{

	margin-top: 15px;
}




/** Seção Atuações**/


.atuacao{

	padding: 60px;
}



.card h5{

	color: #293e40;
	font-weight: bold;
}


.atuacao .card{

	margin-bottom: 20px;
}


.editor-icone{

	color: #c4a865;
}




/** secao duvida **/

#secao-duvida{

	margin-bottom: 80px;
	padding: 40px 30px;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}


.texto-duvida{

	text-align: center;
}


.botao-duvida{

	text-align: center;
}


.secao-botao{

	width: 300px;
	height: 70px;
	padding: 20px 10px;
}




/** Rodape **/


footer {

	padding: 30px;
	background: url(../img/imgok.png);
}



footer h5{

	color: #E0E3E3;
	text-transform: uppercase;
}


footer a{

	color: white;
}


footer a:hover{

	color: #c4a865;
}



.rodape-contato{

	color: white;
}


.rodape-contato h3{

	color: #c4a865;
}


.dev{

	color: white;
	margin-top: 5px;
}






/** Medias queries **/


/** Extra small devices (portrait phones, less than 576px) **/
@media (max-width: 575.98px) {

	.texto-ordens{

		margin-bottom: 80px;
	}



	.card{

		margin-bottom: 10px;
	}

}



/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) and (max-width: 767.98px) { 


}




/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) and (max-width: 991.98px) {


}




/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) and (max-width: 1199.98px) {


}




/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {


}


